<div [class]="controlDivContainerClass">
  <label
    class="clr-control-label"
    *ngIf="showLabelAndDescription"
    [for]="inputType.asTextAreaInput(inputConfig).formControlName"
  >
    {{ inputType.asTextAreaInput(inputConfig).label }}
    <span
      class="required-text"
      *ngIf="inputType.asTextAreaInput(inputConfig).rules?.isRequired"
    >
      (*)
    </span>
  </label>
  <div class="clr-control-container">
    <div class="clr-textarea-wrapper">
      <textarea
        (keyup)="
          keyup.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        (keydown)="
          keydown.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        (keypress)="
          keypress.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        (blur)="
          blur.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        [class]="inputType.asTextAreaInput(inputConfig).classes"
        [formControl]="control"
        [placeholder]="
          inputType.asEmailInput(inputConfig).placeholder
            ? inputType.asEmailInput(inputConfig).placeholder
            : ''
        "
        [rows]="inputType.asTextAreaInput(inputConfig)?.rows"
      ></textarea>
    </div>
  </div>
  <clr-control-error
    class="field-has-error"
    *ngIf="control?.hasError('required') && control?.touched"
  >
    <span [translate]="'validation.required'"></span>
  </clr-control-error>
  <clr-control-error
    class="field-has-error"
    *ngIf="control?.hasError('maxLength') && control?.touched"
  >
    <span
      [translate]="'validation.maxValue'"
      [translateParams]="{
        value: inputType.asTextAreaInput(inputConfig).maxLength
      }"
    ></span>
  </clr-control-error>
  <clr-control-helper
    *ngIf="inputConfig.descriptionText && showLabelAndDescription"
  >
    <span [innerHTML]="inputConfig.descriptionText | safeHtml"></span>
  </clr-control-helper>
</div>
