  .line {
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 2px;
    height: 35px;
  }

  .line:nth-child(1) {
    background: rgb(30, 69, 141);
  }

  .line:nth-child(2) {
    animation-delay: 360ms;
    background: rgb(245, 239, 227);
  }

  .line:nth-child(3) {
    animation-delay: 720ms;
    background: rgb(251, 215, 109);
  }

  .line:nth-child(4) {
    animation-delay: 1080ms;
    background: rgb(142, 107, 82);
  }

  @keyframes expand {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(2);
    }
  }
