<clr-accordion>
  <clr-accordion-panel
    [clrAccordionPanelOpen]="true"
    [clrAccordionPanelDisabled]="true"
  >
    <clr-accordion-title>
      {{ label }}
      <button class="icon-variant">
        <clr-icon (click)="destroy($event)" shape="trash"></clr-icon>
      </button>
    </clr-accordion-title>
    <ng-container *ngIf="(formGroup || false) && (form || false)">
      <clr-accordion-content>
        <div class="maring-bottom">
          <div class="clr-row">
            <div class="clr-col-12" [formGroup]="formGroup">
              <app-dynamic-form-wapper
                [singleColumnControl]="singleColumnView"
                [componentFormGroup]="formGroup"
                [form]="form"
              ></app-dynamic-form-wapper>
            </div>
          </div>
          <!-- Form actions part -->
          <ng-content></ng-content>
          <!--\ Form actions part -->
        </div>
      </clr-accordion-content>
    </ng-container>
  </clr-accordion-panel>
</clr-accordion>
