<clr-accordion>
    <clr-accordion-panel [(clrAccordionPanelOpen)]="isAccordionOpened">
        <clr-accordion-title>
            Bénéficiaire {{ index }}
            <button class="icon-variant">
              <clr-icon (click)="componentDestroyer.emit({})" shape="times"></clr-icon>
            </button>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
            <div class="maring-bottom">
                <div class="clr-row">
                    <ng-container *ngIf="formGroup">
                        <div class="clr-col-12" [formGroup]="formGroup">
                            <app-dynamic-form-wapper [componentFormGroup]="formGroup" [form]="form"></app-dynamic-form-wapper>
                        </div>
                        <!-- <div class="clr-col-1">
                        </div> -->
                    </ng-container>
                </div>
            </div>
        </clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>