<div *ngIf=" inputConfig && inputTypeHelper.asCheckBoxInput(inputConfig).items.length > 0 && control">
  <div class="clr-form-control">
    <label class="clr-control-label" *ngIf="showLabelAndDescription"
      [for]="inputTypeHelper.asCheckBoxInput(inputConfig).formControlName">
      {{ inputTypeHelper.asCheckBoxInput(inputConfig).label }}<span class="required-text"
        *ngIf="inputTypeHelper.asCheckBoxInput(inputConfig).rules?.isRequired">(*)</span>
    </label>
    <div class="clr-control-container clr-control-inline" [formGroup]="formArrayGroup">
      <div class="clr-checkbox-wrapper" formArrayName="formGroupItems"
        *ngFor="let order of inputTypeHelper.asFormArray(formArrayGroup.get('formGroupItems')).controls;let i = index">
        <input [id]="inputTypeHelper.asCheckBoxInput(inputConfig).formControlName + '_' + i" type="checkbox"
          [formControlName]="i" [value]="inputTypeHelper.asCheckBoxInput(inputConfig)?.items[i]?.value"
          class="clr-checkbox" />
        <label [for]="inputTypeHelper.asCheckBoxInput(inputConfig).formControlName + '_' + i" class="clr-control-label"
          *ngIf="showLabelAndDescription"
          [for]="'clr-checkbox-control-' + i">{{ inputTypeHelper.asCheckBoxInput(inputConfig).items[i].description }}</label>
      </div>
    </div>
    <clr-control-error class="field-has-error" *ngIf="control.hasError('required') && control.touched"><span
        [translate]="'validation.required'"></span></clr-control-error>
    <clr-control-helper *ngIf="inputConfig.descriptionText && showLabelAndDescription">
      <span [innerHTML]="inputConfig.descriptionText | safeWebContent"></span></clr-control-helper>
  </div>
</div>
