/* The Modal (background) */
* {
  font-size: .9rem;
  font-weight: 400;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  /* transition: opacity 1s; */
}

.modal.show {
  display: block; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  position: relative;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  width: 320px;
  /* width: 50%; */
  padding: 24px;
}

@media (min-width: 1500px) {
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  /* float: left; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@-webkit-keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}

@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

.animated {
  animation: fadein 0.7s;
/* -webkit-animation-duration: .7s; */
/* animation-duration: .7s; */
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.ui-message {
  margin-top: 12px;
  margin-bottom: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}

.app-loader {
  margin-top: 24px;
  margin-bottom: 12px;
}
