<ng-container *ngIf="formGroup">
  <ng-container
    *ngTemplateOutlet="
      recursiveTemplate;
      context: { group: formGroup, controls }
    "
  ></ng-container>
</ng-container>

<ng-template #recursiveTemplate let-controls="controls" let-group="group">
  <div class="clr-row">
    <ng-container *ngFor="let value of controls">
      <ng-container *ngIf="(value!.children || []).length > 0">
        <div class="clr-row" [hidden]="value.hidden">
          <div [class]="value.containerClass">
            <div [innerHTML]="value.label | safeHtml"></div>
            <ng-container
              *ngTemplateOutlet="
                recursiveTemplate;
                context: {
                  controls: value!.children || [],
                  group: group.get(value.formControlName)
                }
              "
            ></ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="(value!.children || []).length === 0">
        <div [class]="value.containerClass" [hidden]="value.hidden">
          <ng-container
            *ngTemplateOutlet="
            formTemplate;
            context: {
              value,
              group
            }
          "
          ></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #formTemplate let-group="group" let-value="value">
  <ng-container *ngIf="group.get(value.formControlName) as control">
    <ng-container
      *ngTemplateOutlet="template; context: { control, value }"
    ></ng-container>
  </ng-container>
</ng-template>
