.required-text,
.field-has-error {
  color: rgb(241, 50, 50);
}

.clr-control-container textarea {
  min-width: 100% !important;
}

.clr-select-wrapper {
  /* max-height: 1rem;
  display: inline-block; */
  min-width: 100% !important;
}

.ng-select {
  min-width: 100% !important;
}

.ng-select.flat {
  border-radius: 0 !important;
}

.ng-select.flat .ng-select-container {
  border-radius: 0 !important;
}

.password-clr-input-wrapper {
  position: relative;
}

.password-trigger {
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.clr-input-wrapper .clr-input:disabled {
  background: #f4f4f4;
}
