.required-text,
.field-has-error {
  color: rgb(241, 50, 50);
}

.password-clr-input-wrapper {
  position: relative;
}

.password-trigger {
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.clr-input-wrapper .clr-input:disabled {
  background: rgba(244, 244, 244, .3);
}

:host ::ng-deep .clr-input-wrapper {
  max-width: 100%;
}

:host ::ng-deep .clr-input-group .clr-input-group-icon-action {
  padding: 0 !important;
}

:host ::ng-deep .clr-form-control.inline {
  margin-top: 0rem;
}