<div class="form-array">
    <label [for]="inputConfig.formControlName" class="clr-control-label" *ngIf="showLabelAndDescription">
        {{ inputType.asTextInput(inputConfig).label }}
        <small class="required-text" *ngIf="inputType.asTextInput(inputConfig).rules?.isRequired">
            (*)
        </small>
    </label>
    <ng-container [formGroup]="parentFormGroup">
        <ng-container [formArrayName]="inputConfig.formControlName">
            <ng-container *ngFor="let item of formArray.controls; let i = index">
                <div class="clr-row clr-col-12 form-row">
                    <app-dynamic-form-wapper class="clr-col-11" [form]="form" [componentFormGroup]="getFormGroup(item)">
                    </app-dynamic-form-wapper>

                    <div class="clr-col-1 delete-button">
                        <button class="btn btn-sm btn-danger" type="button" (click)="remove(i)"
                            [disabled]="formArray.length === 1 ">
                            <clr-icon shape="trash"></clr-icon>
                        </button>
                    </div>

                </div>
               
            </ng-container>
        </ng-container>
    </ng-container>
    <button class="btn btn-sm btn-primary add-button" type="button" (click)="add()">
        AJOUTER
    </button>
</div>