<ng-container *ngIf="state$ | async as vm">
  <label
    class="clr-control-label"
    *ngIf="showLabelAndDescription"
    [for]="inputConfig.formControlName"
  >
    {{ inputConfig.label }}
    <small class="required-text" *ngIf="inputConfig.rules?.isRequired">
      (*)
    </small>
  </label>
  <div
    #prefetchOptionsDirective
    prefetchOptions
    [params]="inputConfig.serverBindings"
    [loaded]="vm.loaded"
    (itemsChange)="onItemsChange($event)"
    (loadingChange)="onLoadingChange($event)"
  >
    <ng-select
      [class]="inputConfig?.multiple ? '' : 'not-multiple'"
      [virtualScroll]="true"
      [items]="vm?.state ?? []"
      [bindLabel]="'name'"
      [bindValue]="'value'"
      (focus)="onFocus()"
      [loading]="vm?.performingAction ?? false"
      [loadingText]="'loadingText' | translate"
      [multiple]="inputConfig.multiple ?? false"
      [placeholder]="inputConfig.placeholder ?? ''"
      [formControl]="control"
      [groupBy]="'type'"
      [clearable]="true"
      (remove)="remove.emit($event)"
      (change)="
        selected.emit({
          name: inputConfig.formControlName,
          value: $event
        })
      "
    >
      <ng-template ng-option-tmp let-item="item">
        <div>
          <label class="form-check-label ml-2">
            {{ item?.name | uppercase }}
          </label>
        </div>
      </ng-template>
    </ng-select>
  </div>
</ng-container>
<span
  *ngIf="control.hasError('required') && control.touched"
  [class]="'input__subtext input__error_text'"
  [translate]="'validation.required'"
></span>
<span
  *ngIf="inputConfig.descriptionText && showLabelAndDescription"
  class="input__subtext"
  [innerHTML]="inputConfig.descriptionText | safeHtml"
></span>
