<div #container></div>
<ng-container
  *ngTemplateOutlet="
    addGroupRef ? addGroupRef : addTemplate;
    context: { $implicit: onTemplateButtonClicked.bind(this) }
  "
></ng-container>

<ng-template #addTemplate let-handler>
  <div class="ngx__smart_form_array__button" (click)="handler($event)">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="8px"
      height="8px"
      viewBox="0 0 24 24"
    >
      <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
    </svg>
  </div>
</ng-template>
