.required-text,
.field-has-error {
  color: rgb(241, 50, 50);
  line-height: 1rem;
}

small.field-has-error {
  display: block;
}

li.country:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-toggle::after {
  display: none;
}

.intl-tel-input {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.intl-tel-input button.btn {
  background: var(--light-clouds);
  border: none;
}

/* #phone {
  width: 75%;
} */

.clr-dropdown-menu {
  max-height: 300px;
  width: 250px;
  border: none;
}

span.dial-code {
  color: #bfbfbf;
}

.countries-viewport {
  height: 200px;
  width: auto;
  overflow-x: hidden;
}

:focus {
  outline: none;
}

/* necessary to give position: relative to parent. */
