<label
  class="clr-control-label"
  *ngIf="showLabelAndDescription"
  [for]="inputType.asPhoneInput(inputConfig).formControlName"
>
  {{ inputType.asPhoneInput(inputConfig).label }}
  <span
    class="required-text"
    *ngIf="inputType.asPhoneInput(inputConfig).rules?.isRequired"
  >
    (*)
  </span>
</label>
<div class="clr-control-container">
  <div class="clr-input-wrapper">
    <app-intl-tel-input
      [label]="
        showLabelAndDescription
          ? inputType.asPhoneInput(inputConfig)?.label
          : undefined
      "
      [required]="
        inputType.asPhoneInput(inputConfig).rules?.isRequired || false
      "
      [tabIndex]="inputConfig.formControlIndex"
      [controlClass]="inputType.asPhoneInput(inputConfig).classes"
      [control]="control"
      [preferredCountries]="['tg', 'bj', 'gh']"
      [initialCountry]="'tg'"
    ></app-intl-tel-input>
  </div>
  <span
    [class]="'input__subtext input__error_text'"
    *ngIf="control.hasError('required') && control.touched"
    [translate]="'validation.required'"
  ></span>
  <span
    [class]="'input__subtext input__error_text'"
    *ngIf="control.hasError('invalidPhoneNumber') && control.touched"
    [translate]="'validation.phone'"
    [translateParams]="{ value: '(Ex: 228 90050505)' }"
  ></span>
  <span
    [class]="'input__subtext'"
    *ngIf="inputConfig.descriptionText && showLabelAndDescription"
    [innerHTML]="inputConfig.descriptionText | safeHtml"
  ></span>
</div>
