<ng-container [ngSwitch]="inputConfig.type">
  <ng-container *ngSwitchCase="inputTypes.FILE_INPUT">
    <app-dynamic-file-input
      (addedEvent)="fileAdded.emit($event)"
      (removedEvent)="fileRemoved.emit($event)"
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
    ></app-dynamic-file-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.HTML_INPUT">
    <div [innerHTML]="inputConfig.value | safeHtml"></div>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.HIDDEN_INPUT">
    <input
      [tabIndex]="-1"
      type="hidden"
      [class]="inputConfig.classes"
      [formControl]="control"
      [value]="inputConfig?.value"
    />
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.SELECT_INPUT">
    <app-dynamic-select-input
      [controlDivContainerClass]="getControlContainerClass()"
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
      (multiSelectItemRemove)="multiSelectItemRemove.emit($event)"
      (selected)="selected?.emit($event)"
      [inputItems]="inputConfig?.items"
    ></app-dynamic-select-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.PHONE_INPUT">
    <app-dynamic-phone-input
      [controlDivContainerClass]="getControlContainerClass()"
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
    ></app-dynamic-phone-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.DATE_INPUT">
    <app-dynamic-date-input
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
    ></app-dynamic-date-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.TEXTAREA_INPUT">
    <app-dynamic-text-area-input
      *ngIf="!inline"
      [controlDivContainerClass]="getControlContainerClass()"
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
      (keyup)="
        keyup.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keydown)="
        keydown.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keypress)="
        keypress.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (blur)="
        blur.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
    ></app-dynamic-text-area-input>
    <app-dynamic-text-input
    *ngIf="inline"
      [controlDivContainerClass]="getControlContainerClass()"
      [control]="control"
      [inputConfig]="getInlineTextAreaInput(inputConfig)"
      [showLabelAndDescription]="showLabelAndDescription"
      (keyup)="
        keyup.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keydown)="
        keydown.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keypress)="
        keypress.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (blur)="
        blur.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
    ></app-dynamic-text-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.NUMBER_INPUT">
    <app-dynamic-number-input
      [controlDivContainerClass]="getControlContainerClass()"
      [control]="control"
      [showLabelAndDescription]="showLabelAndDescription"
      [inputConfig]="inputConfig"
      (keyup)="
        keyup.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keydown)="
        keydown.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keypress)="
        keypress.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (blur)="
        blur.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
    ></app-dynamic-number-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.RADIO_INPUT">
    <app-dynamic-radio-input
      [inline]="inline"
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
    ></app-dynamic-radio-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.CHECKBOX_INPUT">
    <app-dynamic-checkox-input
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
    ></app-dynamic-checkox-input>
  </ng-container>
  <ng-container *ngSwitchCase="inputTypes.PASSWORD_INPUT">
    <app-dynamic-password-input
      [controlDivContainerClass]="getControlContainerClass()"
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
      (keyup)="
        keyup.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keydown)="
        keydown.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keypress)="
        keypress.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (blur)="
        blur.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
    ></app-dynamic-password-input>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <app-dynamic-text-input
      [controlDivContainerClass]="getControlContainerClass()"
      [control]="control"
      [inputConfig]="inputConfig"
      [showLabelAndDescription]="showLabelAndDescription"
      (keyup)="
        keyup.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keydown)="
        keydown.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (keypress)="
        keypress.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
      (blur)="
        blur.emit({
          name: inputConfig?.formControlName,
          value: $event
        })
      "
    ></app-dynamic-text-input>
  </ng-container>
  <!-- Add controls for check boxes and radio -->
</ng-container>
