<clr-date-container>
  <label
    class="clr-control-label"
    *ngIf="showLabelAndDescription"
    [for]="inputType.asDateInput(inputConfig).formControlName"
  >
    {{ inputType.asDateInput(inputConfig).label }}
    <span
      class="required-text"
      *ngIf="inputType.asDateInput(inputConfig).rules?.isRequired"
    >
      (*)
    </span>
  </label>
  <input
    [tabIndex]="inputConfig?.formControlIndex"
    type="date"
    (blur)="onDateInputBlur()"
    [formControl]="control"
    [min]="inputType.asDateInput(inputConfig).minDate"
    [max]="inputType.asDateInput(inputConfig).maxDate"
    clrDate
  />
</clr-date-container>
<span
  [class]="'input__subtext input__error_text'"
  *ngIf="control.hasError('required') && control.touched"
  [translate]="'validation.required'"
></span>
<span
  [class]="'input__subtext input__error_text'"
  *ngIf="control.hasError('minDate') && control.touched"
  [translate]="'validation.minDate'"
  [translateParams]="{
    date: control.errors ? control.errors['minDate'] : ''
  }"
></span>
<span
  [class]="'input__subtext input__error_text'"
  *ngIf="control.hasError('maxDate') && control.touched"
  [translate]="'validation.maxDate'"
  [translateParams]="{
    date: control.errors ? control.errors['maxDate'] : ''
  }"
></span>
<span
  [class]="'input__subtext'"
  *ngIf="inputConfig.descriptionText && showLabelAndDescription"
  [innerHTML]="inputConfig.descriptionText | safeHtml"
></span>
