<label
  [for]="inputConfig.formControlName"
  class="clr-control-label"
  *ngIf="showLabelAndDescription"
>
  {{ inputType.asPasswordInput(inputConfig).label }}
  <small
    class="required-text"
    *ngIf="inputType.asPasswordInput(inputConfig).rules?.isRequired"
  >
    (*)
  </small>
</label>
<div class="clr-control-container">
  <div
    class="clr-input-wrapper password-clr-input-wrapper"
    *ngIf="state$ | async as state"
  >
    <input
      [tabIndex]="inputConfig.formControlIndex"
      (keyup)="
        keyup.emit({
          name: inputConfig.formControlName,
          value: $event
        })
      "
      (keydown)="
        keydown.emit({
          name: inputConfig.formControlName,
          value: $event
        })
      "
      (keypress)="
        keypress.emit({
          name: inputConfig.formControlName,
          value: $event
        })
      "
      (blur)="
        blur.emit({
          name: inputConfig.formControlName,
          value: $event
        })
      "
      [autocomplete]="'off'"
      [type]="!state.showPassword ? 'password' : 'text'"
      autocomplete="off"
      [maxLength]="
        inputType.asPasswordInput(inputConfig).maxLength
          ? inputType.asPasswordInput(inputConfig).maxLength
          : maxNumberSize()
      "
      [minLength]="
        inputType.asPasswordInput(inputConfig).minLength
          ? inputType.asPasswordInput(inputConfig).minLength
          : 0
      "
      [class]="
        inputType.asPasswordInput(inputConfig).classes + ' password-input'
      "
      [formControl]="control"
      [placeholder]="
        inputType.asPasswordInput(inputConfig).placeholder
          ? inputType.asPasswordInput(inputConfig).placeholder
          : ''
      "
    />
    <clr-icon
      shape="eye"
      (click)="togglePassWordInput()"
      *ngIf="state.showPassword"
      class="password-trigger"
    ></clr-icon>
    <clr-icon
      shape="eye-hide"
      (click)="togglePassWordInput()"
      *ngIf="!state.showPassword"
      class="password-trigger"
    ></clr-icon>
  </div>
  <span
    [class]="'input__subtext input__error_text'"
    *ngIf="control.hasError('required') && control.touched"
    [translate]="'validation.required'"
  ></span>
  <span
    [class]="'input__subtext input__error_text'"
    *ngIf="control.hasError('maxLength') && control.touched"
    [translate]="'validation.maxValue'"
    [translateParams]="{
      value: inputType.asPasswordInput(inputConfig).maxLength
    }"
  ></span>
  <span
    [class]="'input__subtext input__error_text'"
    *ngIf="control.hasError('minLength') && control.touched"
    [translate]="'validation.minValue'"
    [translateParams]="{
      value: inputType.asPasswordInput(inputConfig).minLength
    }"
  ></span>
  <span
    [class]="'input__subtext input__error_text'"
    *ngIf="control.hasError('pattern') && control.touched"
    [translate]="'validation.passwordPattern'"
  ></span>
  <span
    [class]="'input__subtext input__error_text'"
    *ngIf="control.hasError('Match') && control.touched"
    [translate]="'validation.passwordMatch'"
  ></span>
  <span
    [class]="'input__subtext'"
    *ngIf="inputConfig.descriptionText && showLabelAndDescription"
    [innerHTML]="inputConfig.descriptionText | safeHtml"
  ></span>
</div>
