<div [class]="controlDivContainerClass">
  <label
    [for]="inputConfig.formControlName"
    class="clr-control-label"
    *ngIf="showLabelAndDescription"
  >
    {{ inputType.asPasswordInput(inputConfig).label }}
    <small
      class="required-text"
      *ngIf="inputType.asPasswordInput(inputConfig).rules?.isRequired"
    >
      (*)
    </small>
  </label>
  <div class="clr-control-container">
    <div
      class="clr-input-wrapper password-clr-input-wrapper"
      *ngIf="state$ | async as state"
    >
      <input
        [tabIndex]="inputConfig.formControlIndex"
        (keyup)="
          keyup.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        (keydown)="
          keydown.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        (keypress)="
          keypress.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        (blur)="
          blur.emit({
            name: inputConfig.formControlName,
            value: $event
          })
        "
        [autocomplete]="'off'"
        [type]="!state.showPassword ? 'password' : 'text'"
        autocomplete="off"
        [maxLength]="
          inputType.asPasswordInput(inputConfig).maxLength
            ? inputType.asPasswordInput(inputConfig).maxLength
            : maxNumberSize()
        "
        [minLength]="
          inputType.asPasswordInput(inputConfig).minLength
            ? inputType.asPasswordInput(inputConfig).minLength
            : 0
        "
        [class]="
          inputType.asPasswordInput(inputConfig).classes + ' password-input'
        "
        [formControl]="control"
        [placeholder]="
          inputType.asPasswordInput(inputConfig).placeholder
            ? inputType.asPasswordInput(inputConfig).placeholder
            : ''
        "
      />
      <clr-icon
        shape="eye"
        (click)="togglePassWordInput()"
        *ngIf="state.showPassword"
        class="password-trigger"
      ></clr-icon>
      <clr-icon
        shape="eye-hide"
        (click)="togglePassWordInput()"
        *ngIf="!state.showPassword"
        class="password-trigger"
      ></clr-icon>
    </div>
    <clr-control-error
      class="field-has-error"
      *ngIf="control.hasError('required') && control.touched"
    >
      <span [translate]="'validation.required'"></span>
    </clr-control-error>
    <clr-control-error
      class="field-has-error"
      *ngIf="control.hasError('maxLength') && control.touched"
    >
      <span
        [translate]="'validation.maxValue'"
        [translateParams]="{
          value: inputType.asPasswordInput(inputConfig).maxLength
        }"
      ></span>
    </clr-control-error>
    <clr-control-error
      class="field-has-error"
      *ngIf="control.hasError('minLength') && control.touched"
    >
      <span
        [translate]="'validation.minValue'"
        [translateParams]="{
          value: inputType.asPasswordInput(inputConfig).minLength
        }"
      ></span>
    </clr-control-error>
    <clr-control-error
      class="field-has-error"
      *ngIf="control.hasError('pattern') && control.touched"
    >
      <span [translate]="'validation.passwordPattern'"></span>
    </clr-control-error>
    <clr-control-error
      class="field-has-error"
      *ngIf="control.hasError('Match') && control.touched"
    >
      <span [translate]="'validation.passwordMatch'"></span>
    </clr-control-error>
    <clr-control-helper
      *ngIf="inputConfig.descriptionText && showLabelAndDescription"
    >
      <span [innerHTML]="inputConfig.descriptionText | safeHtml"></span>
    </clr-control-helper>
  </div>
</div>
