<div [class]="controlDivContainerClass">
  <label
    class="clr-control-label"
    *ngIf="showLabelAndDescription"
    [for]="inputType.asSelectInput(inputConfig).formControlName"
  >
    {{ inputType.asSelectInput(inputConfig).label }}
    <small
      class="required-text"
      *ngIf="inputType.asSelectInput(inputConfig).rules?.isRequired"
    >
      (*)
    </small>
  </label>
  <ng-container *ngIf="inputItems$ | async as vm">
    <ng-select
      [class]="inputConfig?.multiple ? '' : 'not-multiple'"
      [virtualScroll]="true"
      [items]="vm?.state ?? []"
      [bindLabel]="'name'"
      [bindValue]="'value'"
      (focus)="onFocus()"
      [loading]="vm?.performingAction ?? false"
      [loadingText]="'loadingText' | translate"
      [multiple]="inputConfig.multiple ?? false"
      [placeholder]="inputConfig.placeholder ?? ''"
      [formControl]="control"
      [groupBy]="'type'"
      [clearable]="true"
      (remove)="multiSelectItemRemove.emit($event)"
      (change)="
        selected.emit({
          name: inputConfig.formControlName,
          value: $event
        })
      "
    >
      <ng-template
        ng-option-tmp
        let-item="item"
        let-index="index"
        let-item$="item$"
      >
        <div>
          <label class="form-check-label ml-2">
            {{ item?.name | uppercase }}
          </label>
        </div>
      </ng-template>
    </ng-select>
  </ng-container>
  <clr-control-error
    class="field-has-error"
    *ngIf="control.hasError('required') && control.touched"
  >
    <span [translate]="'validation.required'"></span>
  </clr-control-error>
  <clr-control-helper
    *ngIf="inputConfig.descriptionText && showLabelAndDescription"
  >
    <span [innerHTML]="inputConfig.descriptionText | safeHtml"></span>
  </clr-control-helper>
</div>
