<div
  *ngIf="
    inputConfig &&
    inputType.asCheckBoxInput(inputConfig).items.length > 0 &&
    control
  "
>
  <label
    class="clr-control-label"
    *ngIf="showLabelAndDescription"
    [for]="inputType.asCheckBoxInput(inputConfig).formControlName"
  >
    {{ inputType.asCheckBoxInput(inputConfig).label }}
    <span
      class="required-text"
      *ngIf="inputType.asCheckBoxInput(inputConfig).rules?.isRequired"
    >
      (*)
    </span>
  </label>
  <div
    class="clr-control-container clr-control-inline"
    [formGroup]="formArrayGroup"
  >
    <div
      class="clr-checkbox-wrapper"
      formArrayName="formGroupItems"
      *ngFor="
        let order of inputType.asFormArray(
          formArrayGroup.get('formGroupItems') || undefined
        ).controls;
        let i = index
      "
    >
      <input
        [tabIndex]="inputConfig?.formControlIndex"
        [id]="inputType.asCheckBoxInput(inputConfig).formControlName + '_' + i"
        type="checkbox"
        [formControlName]="i"
        [value]="inputType.asCheckBoxInput(inputConfig).items[i].value"
        class="clr-checkbox"
      />
      <label
        [for]="inputType.asCheckBoxInput(inputConfig).formControlName + '_' + i"
        class="clr-control-label"
        *ngIf="showLabelAndDescription"
        [for]="'clr-checkbox-control-' + i"
      >
        {{ inputType.asCheckBoxInput(inputConfig).items[i].description }}
      </label>
    </div>
  </div>
  <clr-control-error
    class="field-has-error"
    *ngIf="control.hasError('required') && control.touched"
  >
    <span [translate]="'validation.required'"></span>
  </clr-control-error>
  <clr-control-helper
    *ngIf="inputConfig.descriptionText && showLabelAndDescription"
  >
    <span [innerHTML]="inputConfig.descriptionText | safeHtml"></span>
  </clr-control-helper>
</div>
