<ng-container *ngIf="bindings$ | async as bindings">
  <div class="form" *ngIf="componentFormGroup">
    <div class="form form-container clr-row" *ngIf="componentFormGroup">
      <ng-container
        *ngIf="
          componentForm?.controlConfigs &&
          asArray(componentForm?.controlConfigs).length > 0
        "
      >
        <div
          [class]="getControlContainerClass(value?.containerClass)"
          *ngFor="let value of componentForm?.controlConfigs"
        >
          <app-dynamic-inputs
            [listenForChanges]="
              shouldListenforChange(value.formControlName, bindings)
            "
            (keyup)="keyup.emit($event)"
            (keydown)="keydown.emit($event)"
            (blur)="blur.emit($event)"
            (keypress)="keypress.emit($event)"
            (fileAdded)="fileAdded.emit($event)"
            (fileRemoved)="fileRemoved.emit($event)"
            [class]="getControlContainerClass(value?.containerClass)"
            (multiSelectItemRemove)="
              controlItemRemoved.emit({ event: $event, control: value })
            "
            (valueChange)="
              handleControlChanges($event, value.formControlName, bindings)
            "
            [hidden]="value.hidden"
            [control]="componentFormGroup.controls[value.formControlName]"
            [inputConfig]="value"
            [listItems]="value.items"
          ></app-dynamic-inputs>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
